@charset "utf-8";
/* CSS Document */

div,
table,
html,
body,
form,
ul,
ol,
li,
dl,
dt,
img,
dd,
tr,
span,
input,
select,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

body {
  font-size: 14px;
  font-family: "微软雅黑";
  color: #000000;
  text-align: left;
  line-height: 26px;
  overflow: auto;
  /* 允许滚动，滚动条按需显示 */
  /* 或者使用 overflow: scroll; 强制显示滚动条 */
}

a {
  color: #333333;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}


.main-phone {
  width: 1334px;
  height: 750px;
  transform-origin: 375px 375px;
  overflow: hidden;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.main-phone2 {
  height: 750px;
  transform-origin: 375px 375px;
  overflow: hidden;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.part1 {
  background: url(../images/p1.jpg) no-repeat center center;
  background-size: contain;
  width: 2278px;
  height: 750px;
  float: left;
  position: relative;
}

.p1_text {
  position: absolute;
  left: 440px;
  bottom: 150px;
  z-index: 5;
}

.p1_text img {
  width: 728px;
  height: auto;
}

.p1_package {
  position: absolute;
  left: 1130px;
  bottom: 235px;
  z-index: 6;
}

.p1_package img {
  max-width: 200px;
  height: auto;
}

.p1_package .p1_package_img {
  position: absolute;
  top: 8px;
  left: 19px;
  z-index: 1;
}

.p1_package .p1_package_gif {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 205px;
  height: auto;
  z-index: 2;
}

.p1_knowledge_title {
  position: absolute;
  right: 200px;
  top: 100px;
  z-index: 7;
  opacity: 1;
}

.p1_knowledge_title img {
  max-width: 406px;
  height: auto;
}

.p1_click_view {
  position: absolute;
  right: 20px;
  top: 130px;
  z-index: 8;
  cursor: pointer;
  animation: pulse-scale 2s ease-in-out infinite;
}

.p1_click_view img {
  width: 227px;
  height: auto;
}

.p1_knowledge_content {
  position: absolute;
  right: 140px;
  top: 220px;
  z-index: 7;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.5s ease-out;
}

.p1_knowledge_content.show {
  opacity: 1;
  transform: translateY(0);
}

.p1_knowledge_content img {
  max-width: 426px;
  height: auto;
}

.p1_click_goods {
  position: absolute;
  left: 1270px;
  bottom: 40px;
  z-index: 6;
  cursor: pointer;
  animation: pulse-scale 2s ease-in-out infinite;
}

.p1_click_goods img {
  max-width: 252px;
  height: auto;
}

.part2 {
  margin-left: -1px;
  background: url(../images/p2.jpg) no-repeat center center;
  background-size: contain;
  width: 2003px;
  height: 750px;
  float: left;
  position: relative;
}

.p2_text {
  position: absolute;
  left: 200px;
  top: 30px;
  z-index: 5;
}

.p2_text img {
  width: 774px;
  height: auto;
}

.p2_knowledge_title {
  position: absolute;
  left: 120px;
  top: 300px;
  z-index: 7;
  opacity: 1;
}

.p2_knowledge_title img {
  max-width: 406px;
  height: auto;
}

.p2_click_view {
  position: absolute;
  left: 470px;
  top: 320px;
  z-index: 8;
  cursor: pointer;
  animation: pulse-scale 2s ease-in-out infinite;
}

.p2_click_view img {
  width: 227px;
  height: auto;
}

.p2_knowledge_content {
  position: absolute;
  left: 150px;
  top: 420px;
  z-index: 7;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.5s ease-out;
}

.p2_knowledge_content.show {
  opacity: 1;
  transform: translateY(0);
}

.p2_knowledge_content img {
  max-width: 504px;
  height: auto;
}

.p2_move_boxes {
  position: absolute;
  left: 1060px;
  bottom: 270px;
  z-index: 6;
}

.p2_move_boxes img {
  width: 462px;
  height: auto;
}

.p2_move_boxes .p2_move_boxes_img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.p2_move_boxes .p2_move_boxes_gif {
  position: absolute;
  top: -12px;
  left: -0px;
  width: 462px;
  height: auto;
  z-index: 2;
  display: none;
}

.p2_click_goods {
  position: absolute;
  left: 1200px;
  bottom: 60px;
  z-index: 6;
  cursor: pointer;
  animation: pulse-scale 2s ease-in-out infinite;
}

.p2_click_goods img {
  max-width: 371px;
  height: auto;
}

.part3 {
  background: url(../images/p3古道.jpg) no-repeat center center;
  background-size: contain;
  width: 2617px;
  height: 750px;
  float: left;
  margin-left: -2px;
  position: relative;
}

.p3_mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/p3遮罩.png) no-repeat center center;
  background-size: contain;
  z-index: 2;
  pointer-events: none;
}

.p3_video {
  position: absolute;
  top: -127px;
  left: 174.5px;
  width: 2343px;
  height: auto;
  z-index: 1;
  display: none;
}

.p3_video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p3_text {
  position: absolute;
  left: 50px;
  bottom: 130px;
  z-index: 5;
}

.p3_text img {
  width: 841px;
  height: auto;
}

.p3_knowledge_title {
  position: absolute;
  right: 300px;
  top: 60px;
  z-index: 7;
  opacity: 1;
}

.p3_knowledge_title img {
  width: 406px;
  height: auto;
}

.p3_knowledge_content {
  position: absolute;
  right: 80px;
  top: 180px;
  z-index: 7;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.5s ease-out;
}

.p3_knowledge_content.show {
  opacity: 1;
  transform: translateY(0);
}

.p3_knowledge_content img {
  width: 592px;
  height: auto;
}

.p3_click_view {
  position: absolute;
  right: 130px;
  top: 80px;
  z-index: 8;
  cursor: pointer;
  animation: pulse-scale 2s ease-in-out infinite;
}

.p3_click_view img {
  width: 227px;
  height: auto;
}

.p3_click_camel {
  position: absolute;
  left: 1800px;
  bottom: 200px;
  z-index: 6;
  cursor: pointer;
  animation: pulse-scale 2s ease-in-out infinite;
}

.p3_click_camel img {
  width: 228px;
  height: auto;
}

.part4 {
  background: url(../images/p4.jpg) no-repeat center center;
  background-size: contain;
  width: 2729px;
  height: 750px;
  float: left;
  margin-left: -0.6px;
  position: relative;
}

.p4_text {
  position: absolute;
  left: 30px;
  bottom: 30px;
  z-index: 5;
}

.p4_text img {
  width: 870px;
  height: auto;
}

.p4_knowledge_title {
  position: absolute;
  right: 450px;
  top: 100px;
  z-index: 7;
  opacity: 1;
}

.p4_knowledge_title img {
  width: 406px;
  height: auto;
}

.p4_knowledge_content {
  position: absolute;
  right: 220px;
  top: 220px;
  z-index: 7;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.5s ease-out;
}

.p4_knowledge_content.show {
  opacity: 1;
  transform: translateY(0);
}

.p4_knowledge_content img {
  width: 592px;
  height: auto;
}

.p4_click_view {
  position: absolute;
  right: 280px;
  top: 120px;
  z-index: 8;
  cursor: pointer;
  animation: pulse-scale 2s ease-in-out infinite;
}

.p4_click_view img {
  width: 227px;
  height: auto;
}

.p4_click_merchant {
  position: absolute;
  left: 900px;
  top: 280px;
  z-index: 6;
  cursor: pointer;
}

.p4_click_merchant img {
  height: auto;
}

.p4_click_merchant .p4_click_merchant_img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 370px;
}

.p4_click_merchant .p4_check_tea_img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 737px;
}

.p4_click_merchant .p4_check_tea_gif {
  position: absolute;
  top: -14px;
  left: -6px;
  z-index: 3;
  width: 750px;
}

.p4_click_goods {
  position: absolute;
  left: 1300px;
  top: 420px;
  z-index: 6;
  cursor: pointer;
  animation: pulse-scale 2s ease-in-out infinite;
}

.p4_click_goods img {
  width: 370px;
  height: auto;
}

.part5 {
  background: url(../images/p5.jpg) no-repeat center center;
  background-size: contain;
  width: 2655px;
  height: 750px;
  float: left;
  margin-left: -2px;
  position: relative;
}

.p5_text {
  position: absolute;
  left: 80px;
  bottom: 70px;
  z-index: 5;
}

.p5_text img {
  width: 728px;
  height: auto;
}

.p5_knowledge_title {
  position: absolute;
  right: 320px;
  top: 150px;
  z-index: 7;
  opacity: 1;
}

.p5_knowledge_title img {
  width: 406px;
  height: auto;
}

.p5_knowledge_content {
  position: absolute;
  right: 80px;
  top: 270px;
  z-index: 7;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.5s ease-out;
}

.p5_knowledge_content.show {
  opacity: 1;
  transform: translateY(0);
}

.p5_knowledge_content img {
  width: 625px;
  height: auto;
}

.p5_click_view {
  position: absolute;
  right: 150px;
  top: 170px;
  z-index: 8;
  cursor: pointer;
  animation: pulse-scale 2s ease-in-out infinite;
}

.p5_click_view img {
  width: 227px;
  height: auto;
}

.p5_click_tea {
  position: absolute;
  top: 350px;
  left: 1380px;
  z-index: 6;
}

.p5_click_tea img {
  height: auto;
}

.p5_click_tea .p5_tea_img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 135px;
}

.p5_click_tea .p5_tea_gif {
  position: absolute;
  top: -17px;
  left: -27px;
  z-index: 2;
  width: 175px;
}

.p5_click_goods {
  position: absolute;
  top: 350px;
  left: 1500px;
  z-index: 6;
  cursor: pointer;
  animation: pulse-scale 2s ease-in-out infinite;
}

.p5_click_goods img {
  width: 298px;
  height: auto;
}

.part6 {
  background: url(../images/p6.jpg) no-repeat center center;
  background-size: contain;
  width: 2718px;
  height: 750px;
  float: left;
  margin-left: -1px;
  position: relative;
}

.p6_video {
  position: absolute;
  top: 0px;
  right: 0px;
  width: auto;
  height: 750px;
  z-index: 1;
}

.p6_video video {
  width: auto;
  height: 750px;
}

.p6_mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/p6.png) no-repeat center center;
  background-size: contain;
  z-index: 2;
  pointer-events: none;
}

.p6_text {
  position: absolute;
  left: 1050px;
  bottom: 100px;
  z-index: 3;
}

.p6_text img {
  width: 961px;
  height: auto;
}

.p6_click_share {
  position: absolute;
  left: 1060px;
  bottom: 0px;
  z-index: 4;
  cursor: pointer;
  animation: pulse-scale 2s ease-in-out infinite;
}

.p6_click_share img {
  width: 291px;
  height: auto;
}

.p6_share_poster {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.p6_share_poster.show {
  opacity: 1;
}

.p6_share_poster.hide {
  opacity: 0;
}

.p6_share_poster img {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
}

.p6_share_tip {
  position: absolute;
  width: 240px;
  text-align: center;
  top: 50%;
  transform: translateY(38vh);
  color: white;
  font-size: 28px;
  font-family: "微软雅黑", sans-serif;
  text-align: center;
  border-radius: 20px;
  z-index: 1000;
  opacity: 0.6;
}

.p6_close_poster {
  position: absolute;
  transform: translateY(-43vh);
  top: 50%;
  cursor: pointer;
  z-index: 1001;
}

.p6_close_poster svg {
  width: 80px;
  height: 80px;
}

/* 移除所有可点击元素的选中效果 */
.loading_click,
.p1_click_view,
.p1_click_goods,
.p2_click_view,
.p2_click_goods,
.p3_click_view,
.p3_click_camel,
.p4_click_view,
.p4_click_goods,
.p5_click_view,
.p5_click_goods,
.p6_click_share,
.p6_close_poster {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  outline: none;
}

/* 移除图片的拖拽功能 */
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}


/* p0 加载页 */
.loading {
  background: url("../images/加载页.jpg") no-repeat center center/ 100% 100%;
  width: 100%;
  height: 750px;
  position: relative;
  margin: auto;
  z-index: 20;
}

.p0_p {
  position: absolute;
  left: 50%;
  top: 80px;
  transform: translateX(-50%);
}

.loading_intro {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.loading_intro img {
  max-width: 600px;
  height: auto;
}

.loading_click {
  position: absolute;
  left: 50%;
  bottom: 110px;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 10;
  display: none;
}

.loading_click img {
  width: 227px;
  height: auto;
  animation: pulse-scale 2s ease-in-out infinite;
}

@keyframes pulse-scale {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.progress_bg {
  width: 803px;
  height: 23px;
  position: absolute;
  top: 448px;
  left: 50%;
  margin-left: -401.5px;
  transform-origin: 50% 50%;
  border-radius: 5px;
  overflow: hidden;
}

.progress_bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/加载页进度条边框.png") no-repeat center top;
  background-size: 100% 100%;
  border-radius: 5px;
  pointer-events: none;
  z-index: 1;
}

.progress {
  width: 0%;
  height: 100%;
  background: url("../images/加载页进度条.png") repeat-x center top;
  background-size: auto 100%;
  transition: width 0.3s ease;
  border-radius: 5px;
  position: relative;
  z-index: 0;
}

.container {
  width: 15000px;
  height: 750px;
  overflow: hidden;
}



.cloud-text {
  animation: titleDynamicFloat 6s ease-in-out infinite;
  width: 560px;
  height: auto;
  max-width: 560px;
}

/* 定义标题动态飘动动画 */
@keyframes titleDynamicFloat {
  0% {
    transform: translate(-10px, 10px) scale(0.9);
    opacity: 0.85;
  }

  25% {
    transform: translate(5px, -5px) scale(1);
    opacity: 0.95;
  }

  50% {
    transform: translate(20px, -15px) scale(0.9);
    opacity: 1;
  }

  75% {
    transform: translate(5px, -5px) scale(1);
    opacity: 0.95;
  }

  100% {
    transform: translate(-10px, 10px) scale(0.9);
    opacity: 0.85;
  }
}

/* BGM播放器样式 */
.bgm-player {
  position: fixed;
  top: 50px;
  right: 50px;
  z-index: 100;
}

.bgm-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.bgm-btn:hover {
  transform: scale(1.05);
}

.bgm-btn:active {
  transform: scale(0.95);
}

.bgm-icon {
  filter: drop-shadow(0 2px 10px rgba(0, 0, 0, 0.3));
  transition: transform 0.3s ease;
}

/* BGM播放时的旋转动画 */
.bgm-icon.playing {
  animation: rotateBGM 3s linear infinite;
}

@keyframes rotateBGM {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bgm-text {
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  text-align: center;
}

/* 移动端BGM播放器适配 */
.main-phone .bgm-player {
  top: 50px;
  right: 100px;
}

/* BGM播放按钮点击效果 */
.bgm-btn {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  outline: none;
}
